@tailwind base;
@tailwind components;
@tailwind utilities;
header {
    text-align: center;
  }
  
  .search {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .repo-list {
    display: grid;
    grid-gap: 20px;
  }
  
  .loading-spinner,
  .error-message {
    text-align: center;
    margin-top: 20px;
  }
  